# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios

In [16]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
for i in range(0,11):

IndentationError: expected an indented block (3552215371.py, line 3)

In [5]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista = ['Claudio', 'Bruna', 'Carla', 'Jose', 'Cleci']
lista

['Claudio', 'Bruna', 'Carla', 'Jose', 'Cleci']

In [7]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

a = "Seja vem vindo! " 
b = 'Claudio'

print(a + b)

Seja vem vindo! Claudio

In [12]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla = (1,2,2,3,4,4,4,5)
type(tupla)

tuple

In [15]:
tupla.count(4)

3

In [17]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dicio = {}
type(dicio)

dict

In [19]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
cadastro = {
    'nome':'Claudio',
    'idade':27,
    'endereço': 'Rua Doutor Dias Ferreira'
}

In [20]:
cadastro

{'nome': 'Claudio', 'idade': 27, 'endereço': 'Rua Doutor Dias Ferreira'}

In [27]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
cadastro['email'] = 'sdfritzen96@gmail.com'
cadastro

{'nome': 'Claudio',
 'idade': 27,
 'endereço': 'Rua Doutor Dias Ferreira',
 'email': 'sdfritzen96@gmail.com'}

In [30]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela


# Dicionario de listas
dicio = {'Nome': 'Claudio', 'Sobrenome':'Fritzen', 'contatos': [351913816383, 912401599]}
(dicio)

{'Nome': 'Claudio',
 'Sobrenome': 'Fritzen',
 'contatos': [351913816383, 912401599]}

In [10]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

In [11]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>